.imageList {
    padding: 20px;    
}

.imageList ul{
    list-style: none;
}

.image {
    margin-bottom: 15px;
    width: 500px;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 20px;
    border-radius: 3px;
    text-align: left;
    
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}

.img {
    max-width: 100%;
}